:root{
  --fg-normal: rgba(90,20,20,1);
  --fg-dimmed: rgba(90,20,20,0.25);
  --fg-prelight: #370000;
  --fg-button: #fff;
  --fg-checkbox: #930;
  --fg-radio: #930;
  --bg-main: #FFF5F0;
  --bg-button: rgba(232,153,102,1);
  --bg-button-prelight: #F7AC7C;
  --bg-button-active:  rgba(220,150,110,1);
  --bg-input: rgba(255,255,255,1);
  --bg-overlay: #fff5f0;
  --bg-prelight: rgba(255,210,160,1);
  --bg-prelight-dimmed: rgba(255,210,160,0.5);
  --border-normal: rgba(0,0,0,1);
  --border-active: rgba(252,195,77,1);
  --border-overlay: #930;
  --gradient: linear-gradient(45deg, rgba(237,123,130,1) 0%, rgba(232,153,102,1) 35%, rgba(252,195,77,1) 100%);
  --panels: #FAF5F5;
  --session-buttons-filter: invert(15%) sepia(42%) saturate(5570%) hue-rotate(38deg) brightness(95%) contrast(106%);
  --shadow: var(--fg-prelight);
}

@media (prefers-color-scheme: dark) {
  :root{
    --fg-normal: #ddf;
    --fg-dimmed: rgba(240,245,255,0.25);
    --fg-prelight: #fff;
    --fg-button: #fff;
    --fg-checkbox: #eef;
    --fg-radio: #ccf;
    --bg-main: #191E3C;
    --bg-button: #3C466E;
    --bg-button-prelight: #558;
    --bg-input: #191E3C;
    --bg-overlay: #1A1A2F;
    --bg-prelight: #6677AA;
    --bg-prelight-dimmed: rgba(255,210,160,0.5);
    --border-normal: #46466E;
    --border-active: #8ca0dc;
    --border-overlay: var(--bg-prelight);
    --gradient: linear-gradient(45deg, rgba(0,18,54,1) 0%, rgba(40,40,60,1) 35%, rgba(132,125,180,1) 100%);
    --panels: #2A3354;
    --session-buttons-filter: invert(84%) sepia(26%) saturate(797%) hue-rotate(193deg) brightness(102%) contrast(108%);
    --shadow: black;
  }  
}


@font-face {
  font-family: Titillium;
  src: url("./fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Titillium;
  font-weight: bold;
  src: url("./fonts/TitilliumWeb-Bold.ttf") format("truetype");
}

body{
  background-color: var(--bg-main)
}

*{
  color: var(--fg-normal);
}

input[type="text"],
select,
textarea{
  color: var(--fg-normal);
  background-color: var(--bg-input);
  border: 1px solid var(--border-normal);
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="text"]:active,
textarea:focus{
  border: 1px solid var(--border-active);
  outline: 1px solid var(--border-active)
}

input[type="text"]{
  padding-left: 5px;
  padding-right: 5px;
}

*, th{
  font-size: 12px;
  font-family: Titillium;
}

table, td, tr, th{
  padding: 0px;
}

#place{
  font-size: 22.5px;
  margin-left: 104px;
  letter-spacing: 0.4px;
  top: 73px;
}

.subjectInfoPage{
  opacity: 1;
  transition: opacity 0.75s
}

#overlay_background,
#overlay_infocanvas,
#overlay_calendar{
  transition: opacity 0.5s
}

#overlay_certGeneration{
  transition: opacity 0.5s, height 1s, top 1s;
}




.button_calendar_day{
  background-color: transparent;
  color: #280A0A;
  font-weight: normal;
  border: none
}

#button_calendar_year_less,
#button_calendar_month_less,
#button_calendar_year_more,
#button_calendar_month_more{
  background-color: transparent;
  color: var(--fg-dimmed);
  font-weight: normal;
  border: none;
  transition: 0ms color ease-in-out;
}

#button_calendar_year_less:hover,
#button_calendar_month_less:hover,
#button_calendar_year_more:hover,
#button_calendar_month_more:hover{
  color: #280A0A;
  transition: 300ms color ease-in-out;
}

#tableHeader,
#panel_pupils,
#panel_subjects,
#panel_evaluation,
#panel_finalRemarks{
  background-color: var(--panels);
}

.button_session{
  border: none;
  background-color: transparent;
  color: var(--fg-normal);
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  transition: opacity 0.5s;
  opacity: 0.5
}

.button_session:hover{
  background-color: transparent;
  opacity: 1;
}



#panel_pupils{
  width: 80ch;
  min-width: 80ch
}

#panel_subjects{
  width: 60ch;
  min-width: 60ch;
}

#panel_subjects_header{
  width: 100%
}

#panel_evaluation{
  width: 60ch;
  min-width: 60ch;
}

#panel_finalRemarks{
  width: 60ch;
  min-width: 60ch
}

#table_editSubjects{
  width: 100%
}

#pupilsTable_firstName:hover,
#pupilsTable_lastName:hover{
  text-decoration: underline
}


div#pupilTableWrapper{
  height: 500px;
  overflow-y: scroll
}

button{
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  line-height: 1.5em;
}

.button_cancel{
  background-color: transparent;
  border: none;
  color: #C66666;
  padding: 0px;
  font-size: 18;
  margin-top: -6px;
  opacity: 0.5
}

.button_cancel:hover{
  background-color: transparent;
  border: none;
  opacity: 1
}


#overlay_certGeneration_explaination,
#overlay_certGeneration_button_generate{
  transition: opacity 2s
}


button:disabled{
  /*background-color: #E8CCBA;
  background-color: rgba(232,153,102,0.5);*/
  opacity: 0.5
}

#eurythmieTable tr:first-of-type > td{
  padding-top: 2px;
}

#class_date_container input{
  text-align: right;
  width: 15ch;
}

#list_subjects,
.input_eurythmieRow{
  width: 100%
}

.subjectInfoPage{
  transition: display 3s;
}


button{
  background-color: var(--bg-button);
  color: var(--fg-button);
  font-weight: bold;
}

button:not(.button_cancel):not(.calendar_dateButton):not(.button_session):not(:disabled):hover{
  background-color: var(--bg-button-prelight);
}

button:not(.button_cancel):not(.calendar_dateButton):not(.button_session):hover:active{
  background-color: var(--bg-button-active);
}



#button_applyTeacherToAll{
  width: 100%
}


#t01,
#eurythmieTable{
  border: 1px solid var(--border-overlay);
  background-color: var(--bg-overlay);
  border-spacing: 0px;
  border-radius: 5px;
  width: 100%;
}

#t01 tr td:last-of-type,
#eurythmieTable tr td:last-of-type{
  padding-right: 5px;
}

#t01 td,
#eurythmieTable td{
  padding-left: 5px;
  padding-bottom: 2px;
}

#logo{
  height: 80px;
  display: inline-block;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}


#mainControls{
  border: 1px solid black;
}


#tableHeader{
  border: 1px solid black;
  border-radius: 10px;
  border-spacing: 5px;
}

hr{
  background: var(--gradient);
  height: 1px;
  border: none
}


#table_editEvaluation{
  padding-top: 2.85em
}



#logoAndCredits{
  display: flex;
  color: #fff;
}

#nameAndCredits{
  vertical-align:top; 
  padding-top: 4px;
  padding-right: 10px;
}

#programInfo{
  background: var(--gradient);
  border-radius: 10px;
}

#programName,
#author{
  color: #fff;
}

#buttons_container{
  display: block;
}

#subjects{
  height: 100%;
  display: flex;
  border: 1px solid black;
}

th{
  border-bottom: 1px solid black;
  font-weight: normal;
  font-size: small;
}


#class_date_container{
  padding-left: 20px;
}


#overlay_calendar table{
  border-collapse: collapse
}


.calendar_weeknumber,
.calendar_weekday{
  width: 3ch;
  height: 1.25em;
  background-color: var(--bg-prelight);
  text-align: center;
}

.calendar_dateButton{
  font-weight: normal;
  width: 4ch;
  height: 2em;
  text-align: center;
  background-color: transparent;
  color: var(--fg-normal);
  border: none;
  transition: 0ms background-color ease-in-out;
}


button.calendar_dateButton:hover{
  background-color: var(--bg-prelight);
  transition: 200ms background-color ease-in-out;
}


textarea{
  width: 100%;
  resize: none;
  overflow-y: scroll;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

#panel_pupils{
  width: 90ch;
}

#panel_subjects{
  width: 60ch;
}

#panel_evaluation{
  width: 60ch
}

#panel_finalRemarks{
  width: 60ch
}

#header{
  width: 100%;
}

.input_name,
#input_path_sessionFile{
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

#overlay_calendar{
  background-color: var(--bg-overlay);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 20px var(--shadow);
  padding: 10px;
  opacity: 1;
  visibility: visible;
  width: 240px;
  z-index: 999999;
}


option:checked{
  box-shadow: 0 0 0 12px var(--bg-prelight) inset;
  color: var(--fg-normal);
}


::selection,
::-moz-selection,
::-webkit-selection{
  background-color: var(--bg-prelight);
}

.panelHeader{
  height: 95px;
}

.panelBody_top{
  height: 70px;
  width: 100%;
}

#panel_pupils .panelHeader tr,
#panel_subjects .panelHeader tr,
#panel_evaluation .panelHeader tr,
#panel_evaluation .panelHeader tr,
#panel_finalRemarks .panelHeader tr,
#panel_finalRemarks .panelHeader tr{
  vertical-align: top;
}

#panel_pupils,
#panel_subjects,
#panel_evaluation,
#panel_finalRemarks{
  transition: height 300ms ease-in-out;
  padding: 5px !important;
}

#panel_pupils .panelHeader tr:last-of-type:not(:first-of-type),
#panel_subjects .panelHeader tr:last-of-type:not(:first-of-type){
  vertical-align: bottom;
}


input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: grid;
  width: 16px;
  height: 16px;
  line-height: 16px;
  place-content: center;
  margin: 0;
  border: 1px solid var(--border-normal);
}

input[type="checkbox"]:checked:after{
  background-color: var(--fg-checkbox);
  clip-path: polygon(15% 50%, 5% 65%, 50% 100%, 90% 15%, 90% 0%, 40% 70%);
  transform: scale(1);
  transform-origin: bottom left;
  transition: 200ms transform ease-in-out, 200ms background-color linear;
}

input[type="checkbox"]:after{
  content: "";
  clip-path: polygon(15% 50%, 5% 65%, 50% 100%, 90% 15%, 90% 0%, 40% 70%);
  height: 14px;
  width: 14px;
  transform: scale(0);
  transition: 450ms transform ease-in-out, 150ms background-color linear;
  transform-origin: bottom left;
  background-color: var(--bg-entry);
}

input[type="radio"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: grid;
  width: 16px;
  height: 16px;
  line-height: 16px;
  place-content: center;
  border-radius: 50px;
  margin: 0;
  border: 1px solid var(--border-normal);
}

input[type="radio"]:checked:after{
  background-color: var(--fg-radio);
  clip-path: circle(50%);
  transform: scale(0.6);
  transform-origin: center;
  transition: 300ms transform ease-in-out, 300ms background-color linear;
}

input[type="radio"]:after{
  content: "";
  height: 14px;
  width: 14px;
  transform: scale(0);
  clip-path: circle(50%);
  transform-origin: center;
  transition: 150ms transform ease-in-out, 150ms background-color linear;
}

#list_subjects option{
  color: var(--fg-normal);
  background-color: transparent;
  box-shadow: 0px 0px black;
  appearance: none;
  -moz-appearance: none;
}

#list_subjects option:checked{
  background-color: var(--bg-prelight);
  color: var(--fg-prelight);
  box-shadow: 0px 0px black;
  appearance: none;
  -moz-appearance: none;
}


textarea{
  transition: 300ms;
}

.button_session img{
  filter: var(--session-buttons-filter);
  color: var(--fg-normal);
}

button > img{
  vertical-align: text-bottom
}

#eurythmieTable{
  margin-bottom: 2em;
}

input[class="input_eurythmieRow"]{
  width: calc(100% - 10px); /* 100 % – padding-left – padding-right */
}

#jahresarbeitPage .panelHeader{
  width: 100%
}

input[class="input_jahresarbeit_topic"]{
  width: 100%;
}

#jahresarbeitPage tr:nth-of-type(3) td:nth-of-type(2){
  width: 100%;
}

#jahresarbeitPage tr:nth-of-type(3) td:nth-of-type(2) input{
  width: calc(100% - 10px); /* 100 % – padding-left – padding-right */
}

#input_subjectName{
  width: calc(100% - 10px - 5px) /* 100 % – padding-left – padding-right – separator */
}
